@font-face {
	font-family: AllerDisplay; /* Гарнитура шрифта */
	src: url(/template/fonts/aller/AllerDisplay.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
	font-family: Aller_Lt; 
	src: url(/template/fonts/aller/Aller_Lt.ttf);

}

@font-face {

	font-family: Aller_Bold; 
	src: url(/template/fonts/aller/Aller_Bd.ttf);	
}



body {
margin: 0;
padding: 0;
font-family: 'Aller_Lt', Arial,sans-serif;

.wraper {
	width: 80%;
	margin: auto;
	padding: 0 10px;

}

a {
	text-decoration: none;
	color: #c7c7c7;
}
.page {
	background: #e4ffe2;
	margin: auto;

	a {
		text-decoration: none;
	}

header {
	
	background: #242424;
	
	h1 {
		float: left;
		padding: 0;
		font-family: 'Lato', 'AllerDisplay', 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 31px;
		margin: 7px 0;
		a {
			color: #57c5a0;
			margin: 0;
			padding: 0;
		}

	}
	.login {
		float: right;
		font-family: 'Aller_Lt', Arial,sans-serif;
		font-size: 11px;
		text-align: center;
		color: #7e7e7e;
		border-left: 1px solid #383838;
		border-right: 1px solid #383838;
		div {
			padding: 0 23px;
			a {
				display: inline-block;
				color: #7e7e7e;
				margin: 17px 0;
			}
		}
	}

	.search {
		float: right;
		margin-right: 20px;
		height: 100%;

		min-height: 100%;

		i {
			font-size: 15px;			
			margin: 17px auto;
			color: #7e7e7e;

		}
		a:focus {
			text-decoration: none;
			border:none;
			outline: none;						

		}		
	}
	.search:hover~div {
		visibility: inherit;

	}

	.search-field {
		float: right;
		margin-right: 10px;
		visibility: hidden;
		form {
			margin:0;
			padding: 0;
						::-webkit-input-placeholder {
						  font-family:'Aller_Lt', Arial,sans-serif;
						  text-align: right;
						}
						:-moz-placeholder { /* Firefox 18- */
						  font-family:'Aller_Lt', Arial,sans-serif;
						  text-align: right;						  
						}
						::-moz-placeholder {  /* Firefox 19+ */
						  font-family:'Aller_Lt', Arial,sans-serif;
						  text-align: right;

						}
						:-ms-input-placeholder {  
						  font-family:'Aller_Lt', Arial,sans-serif;
						  text-align: right;
						}
			input {
				width: 200px;
				height: 23px;
				margin: 13px auto;
				padding: 0 15px;			
				border-radius: 15px;
				border: none;
				font-family: 'Aller_Lt', Arial,sans-serif;
			}
			input[type=submit] {
				display: none;
			}

		}
	}
	.search-field:not(.search:hover){
		/*не розібрався як воно працює*/
		visibility: hidden;
		 transition: 3s;
	}

}
header::after {		/*clear-fix*/
	content: '';
	display: block;
	clear: both;
	height: 0;
}



nav {

	background: #FFFFFF;

	.menu-leftside {
		float: left;
		table {
			margin: 0;
			border-collapse: collapse;
			text-align: center;
			font-family: 'Aller_Lt', 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
			tr {
				td{	
					cursor:pointer;
					padding: 20px;
					border-left: 1px solid #EEEEEE;
					border-right: 1px solid #EEEEEE;
					
					a {
						color : #242424;
					}
					a:hover {
						text-decoration: none;
						color: red;
						
					}
					a:focus {
						text-decoration: none;
						border:none;
						outline: none;						
						color: #242424;
					}
				}
				td:hover {
					text-decoration: none;
					background: #EEEEEE;
					a {
						color: red;
					}
					
				}
			}
		}
	}

	.menu-rightside {
		float: right;
		width: 20%;
		table {
			margin: 0;
			border-collapse: collapse;
			text-align: center;
			font-family: 'Aller_Lt', 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 1.2em;
			tr {
				td{	
					padding: 20px;
					cursor:pointer;
					border-left: 1px solid #EEEEEE;
					border-right: 1px solid #EEEEEE;
					ul {
						margin: 0;
						padding: 0;
						li {
							img {
								width: 30%;
								padding: 0;
								margin: 0;
							}
							display: inline;
							text-decoration: none;

						}
						.count {
							background: #ADADAD;
							border-radius: 5px;
							color: #FFFFFF;
							font-size: 16px;
							vertical-align: middle;
							padding: 1px 3px;						
						}
						#cart {
							background-color: #57C5A0;
						}
					}
					a{
						color: #242424;
					}
					a:hover {
						text-decoration: none;
						color: red;
						
					}
					a:focus {
						text-decoration: none;
						border:none;
						outline: none;						
						color: #242424;
					}
				}
				td:hover {
					background: #EEEEEE;
				}
			}
		}
	}
}
nav::after {		/*clear-fix*/
content: '.';
display: block;
clear: both;
height: 0;
}


.slider-page {
	overflow-x: hidden; 
	background: #fff;
	.wraper {
		position: relative;
		height: 461px;
		z-index: 1;
		.slider {
			z-index: 1;
			left: -200px;
			margin: auto;
			position: absolute;
		}

		.item-details {
			position: absolute;
			float: right;
			right: 0;
			width: 45%;
			z-index: 2;
			margin-top: 70px;
			font-family: 'Aller_Lt', 'Roboto', sans-serif;
			li {
				list-style-type: none;
				margin-top: 17px;

			}
			.price {
				text-align: center;
				color: white;
				background: #57C5A0;
				display: inline-block;
				padding: 25px 10px;
				p {
					margin: 0;
				}
			}
			.item-description {
				h3 {
					margin: 0;
					font-size: 30px;

				}
				p {
					margin-top: 10px;
					font-size: 14px;
				}
			}
			.item-buttons {
		
				ul {
					margin: 0;
					padding: 0;
					-moz-user-select: none;
					-khtml-user-select: none;
					-webkit-user-select: none;  

					li {
						background: white;
						display: inline-block;
						margin: auto;
						margin-right: 10px;
						vertical-align: middle;
						width: 36px;
						height: 36px;
					
						padding: 7px 10px;
						img {
							display: inline-block;
							margin: auto;
							padding: 0;
							margin: 0;
							height: 12px;
						

						}
						display: inline;
						text-decoration: none;

					}
					li:hover {
						background: #F8D6B0;
					}
				}
			}
		}
	}

	background: #EAE9E5;
}


.middle-menu {
	background: #2E2E2E;
	padding-top: 6px;
	text-align: center;
	color: #979797;
	.slide-line {
		background: black;
		width: 102%;
		height: 10px;
		z-index: 1;
		margin: auto;
		margin-left: -1%; 
		padding: 2px 1%;
		position: relative;

		#slider-pointer {
			height: 6px;
			width: 20%;
			background: #57C5A0;
			position: absolute;
		}
		.sl {
			height: 6px;
			width: 0.15%;
			background: #2E2E2E;
			margin-left: 20%;	
		}
		#sl-1 {
			float: left;
			margin-left: 21%;
		}
		#sl-2 {
			float: left;
		}
		#sl-3 {
			float: left;
		}
		#sl-4 {
			float: left;
		}
	}



	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 23px;
		li {
			width: 19%;
			list-style-type: none;
			display: inline-block;
			
			h4 {
				width: 100%;
				margin: 0;
				font-size: 14px;				
			}

			p {
				width: 100%;
				font-size: 10px;
				margin: 0;
			}
		}

		li:first-child {
			color: white;
		}
	}
}


.specials {
	background: #242424;
	padding: 2% 0;
	position: relative;

	a {
		text-align: center;
		font-family: 'Aller_Lt', Arial,sans-serif;
		font-size: 1.2em; 
		color: #FFFFFF;
	}
	a:hover {
		color: #57C5A0;
		.dash-banner {
			background: rgba(57, 57, 57, .9);
		}
	}
	.dash-banner {
		background: rgba(57, 57, 57, .7);
		position: absolute;
		width: 79%;
		padding: 20px 10px;
		bottom: 50%;
		margin: 0 10%;
		margin-bottom: -30px;
			p {
				text-align: center;
				margin: 0;
			
			}
		}
    

	img {
		width: 100%;
		height: 100%;
	}

	.on-sale {
		float: left;
		width: 30%;
		position: relative;

	}
	.spec-offers {
		width: 30%;
		float: left;
		position: relative;
		left: 20%;
		margin-left: -15%;
	}

	.must-have {
		width: 30%;
		float: right;
		position: relative;
	}
}
.specials::after {		/*clear-fix*/
	content: ' ';
	display: block;
	clear: both;
	height: 0;
}

.new-best {
	background: #EBE7DF;
	.header {
		
		.left {
			float: left;
			h6 {
				margin: 33px 0;				
				font-size: 20px;
			}
		}
		.right {
			float: right;
			border: 1px solid #BCB5A7;
			margin: 27px 0;
			
			a {
				color: #BCB5A7;
				
				margin: 0;
				.showall-button {

					padding: 10px;
					p {
						margin: 0;

						font-family: 'Aller_Bold', Arial,sans-serif;
						font-size: 10px;
					}
				}
			}
		}
	}
	.header::after {		/*clear-fix*/
		content: ' ';
		display: block;
		clear: both;
		height: 0;
	}

	.block {
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}


		.new-arrival {
			width: 30%;
			text-align: center;
			background: #FFFFFF;
			position: relative;
			.price {
				position: absolute;
				text-align: center;
				color: white;
				background: #57C5A0;
				display: inline-block;
				padding: 21px 8px;
				bottom: 0;
				left: 3%;
				p {
					font-size: 12px;
					margin: 0;
				}
			}

			.status {
				position: absolute;
				text-align: center;
				color: white;
				background: black;
				display: inline-block;
				padding: 21px 8px;
				top: 0;
				right: 3%;

				p {
					font-size: 12px;
					margin: 0;
				}
			}
			.out-of-stock {
				position: absolute;
				text-align: center;
				color: white;
				background: #F27E4B;
				display: inline-block;
				padding: 15px 0px;
				top: 0;
				right: 3%;
				width: 25%;
				p {
					font-size: 12px;
					margin: 0;
				}
			}

			h6 {
				width: 100%;
				display: block;
				padding: 10px 0;
				border-top: 1px solid #BCB5A7;
				font-size: 15px;
				margin: 0;
			}


		}
		#new1 {
			float: left;
			position: relative;

		}
		#new2 {			
			float: left;
			position: relative;
			left: 20%;
			margin-left: -15%;
		}

		#new3 {
			float: right;
			position: relative;
		}
	}
	.block::after {		/*clear-fix*/
		content: ' ';
		display: block;
		clear: both;
		height: 0;
	}


}


footer {
	height: 200px;
	background: #c1c1c1;
	z-index: 1;
}


}
}