@charset "UTF-8";
@font-face {
  font-family: AllerDisplay;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(/template/fonts/aller/AllerDisplay.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
  font-family: Aller_Lt;
  src: url(/template/fonts/aller/Aller_Lt.ttf); }
body {
  margin: 0;
  padding: 0; }
  body .wraper {
    width: 80%;
    margin: auto;
    padding: 0 10px; }
  body a {
    text-decoration: none;
    color: #c7c7c7; }
  body .page {
    background: #e4ffe2;
    margin: auto; }
    body .page a {
      text-decoration: none; }
    body .page header {
      background: #242424; }
      body .page header h1 {
        float: left;
        padding: 0;
        font-family: 'Aller_Lt', 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 31px;
        margin: 7px 0; }
        body .page header h1 a {
          color: #57c5a0;
          margin: 0;
          padding: 0; }
      body .page header .login {
        float: right;
        font-family: 'Aller_Lt', Arial,sans-serif;
        font-size: 11px;
        text-align: center;
        color: #7e7e7e;
        border-left: 1px solid #383838;
        border-right: 1px solid #383838; }
        body .page header .login div {
          padding: 0 23px; }
          body .page header .login div a {
            display: inline-block;
            color: #7e7e7e;
            margin: 17px 0; }
      body .page header .search {
        float: right;
        margin-right: 20px;
        height: 100%;
        min-height: 100%; }
        body .page header .search i {
          font-size: 15px;
          margin: 17px auto;
          color: #7e7e7e; }
        body .page header .search a:focus {
          text-decoration: none;
          border: none;
          outline: none; }
      body .page header .search:hover ~ div {
        visibility: inherit; }
      body .page header .search-field {
        float: right;
        margin-right: 10px;
        visibility: hidden; }
        body .page header .search-field form {
          margin: 0;
          padding: 0; }
          body .page header .search-field form ::-webkit-input-placeholder {
            font-family: 'Aller_Lt', Arial,sans-serif;
            text-align: right; }
          body .page header .search-field form :-moz-placeholder {
            /* Firefox 18- */
            font-family: 'Aller_Lt', Arial,sans-serif;
            text-align: right; }
          body .page header .search-field form ::-moz-placeholder {
            /* Firefox 19+ */
            font-family: 'Aller_Lt', Arial,sans-serif;
            text-align: right; }
          body .page header .search-field form :-ms-input-placeholder {
            font-family: 'Aller_Lt', Arial,sans-serif;
            text-align: right; }
          body .page header .search-field form input {
            width: 200px;
            height: 23px;
            margin: 13px auto;
            padding: 0 15px;
            border-radius: 15px;
            border: none;
            font-family: 'Aller_Lt', Arial,sans-serif; }
          body .page header .search-field form input[type=submit] {
            display: none; }
      body .page header .search-field:not(.search:hover) {
        /*╨╜╨╡ ╤А╨╛╨╖╤Ц╨▒╤А╨░╨▓╤Б╤П ╤П╨║ ╨▓╨╛╨╜╨╛ ╨┐╤А╨░╤Ж╤О╤Ф*/
        visibility: hidden;
        transition: 3s; }
    body .page header::after {
      /*clear-fix*/
      content: '';
      display: block;
      clear: both;
      height: 0; }
    body .page nav {
      background: #FFFFFF; }
      body .page nav .menu-leftside {
        float: left; }
        body .page nav .menu-leftside table {
          margin: 0;
          border-collapse: collapse;
          text-align: center;
          font-family: 'Aller_Lt', 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 1.2em; }
          body .page nav .menu-leftside table tr td {
            cursor: pointer;
            padding: 20px;
            border-left: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE; }
            body .page nav .menu-leftside table tr td a {
              color: #242424; }
            body .page nav .menu-leftside table tr td a:hover {
              text-decoration: none;
              color: red; }
            body .page nav .menu-leftside table tr td a:focus {
              text-decoration: none;
              border: none;
              outline: none;
              color: #242424; }
          body .page nav .menu-leftside table tr td:hover {
            text-decoration: none;
            background: #EEEEEE; }
            body .page nav .menu-leftside table tr td:hover a {
              color: red; }
      body .page nav .menu-rightside {
        float: right;
        width: 20%; }
        body .page nav .menu-rightside table {
          margin: 0;
          border-collapse: collapse;
          text-align: center;
          font-family: 'Aller_Lt', 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 1.2em; }
          body .page nav .menu-rightside table tr td {
            padding: 20px;
            cursor: pointer;
            border-left: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE; }
            body .page nav .menu-rightside table tr td ul {
              margin: 0;
              padding: 0; }
              body .page nav .menu-rightside table tr td ul li {
                display: inline;
                text-decoration: none; }
                body .page nav .menu-rightside table tr td ul li img {
                  width: 30%;
                  padding: 0;
                  margin: 0; }
              body .page nav .menu-rightside table tr td ul .count {
                background: #ADADAD;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 16px;
                vertical-align: middle;
                padding: 1px 3px; }
              body .page nav .menu-rightside table tr td ul #cart {
                background-color: #57C5A0; }
            body .page nav .menu-rightside table tr td a {
              color: #242424; }
            body .page nav .menu-rightside table tr td a:hover {
              text-decoration: none;
              color: red; }
            body .page nav .menu-rightside table tr td a:focus {
              text-decoration: none;
              border: none;
              outline: none;
              color: #242424; }
          body .page nav .menu-rightside table tr td:hover {
            background: #EEEEEE; }
    body .page nav::after {
      /*clear-fix*/
      content: '.';
      display: block;
      clear: both;
      height: 0; }
    body .page .slider-page {
      overflow-x: hidden;
      background: #fff;
      background: #EAE9E5; }
      body .page .slider-page .wraper {
        position: relative;
        height: 461px;
        z-index: 1; }
        body .page .slider-page .wraper .slider {
          z-index: 1;
          left: -200px;
          margin: auto;
          position: absolute; }
        body .page .slider-page .wraper .item-details {
          position: absolute;
          float: right;
          right: 0;
          width: 45%;
          z-index: 2;
          margin-top: 70px;
          font-family: 'Aller_Lt', 'Roboto', sans-serif; }
          body .page .slider-page .wraper .item-details li {
            list-style-type: none;
            margin-top: 17px; }
          body .page .slider-page .wraper .item-details .price {
            text-align: center;
            color: white;
            background: #57C5A0;
            display: inline-block;
            padding: 25px 10px; }
            body .page .slider-page .wraper .item-details .price p {
              margin: 0; }
          body .page .slider-page .wraper .item-details .item-description h3 {
            margin: 0;
            font-size: 30px; }
          body .page .slider-page .wraper .item-details .item-description p {
            margin-top: 10px;
            font-size: 14px; }
          body .page .slider-page .wraper .item-details .item-buttons ul {
            margin: 0;
            padding: 0;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none; }
            body .page .slider-page .wraper .item-details .item-buttons ul li {
              background: white;
              display: inline-block;
              margin: auto;
              margin-right: 10px;
              vertical-align: middle;
              width: 36px;
              height: 36px;
              padding: 7px 10px;
              display: inline;
              text-decoration: none; }
              body .page .slider-page .wraper .item-details .item-buttons ul li img {
                display: inline-block;
                margin: auto;
                padding: 0;
                margin: 0;
                height: 12px; }
            body .page .slider-page .wraper .item-details .item-buttons ul li:hover {
              background: #F8D6B0; }
    body .page .middle-menu {
      background: #2E2E2E;
      padding-top: 6px;
      text-align: center;
      color: #979797; }
      body .page .middle-menu .slide-line {
        background: black;
        width: 102%;
        height: 10px;
        z-index: 1;
        margin: auto;
        margin-left: -1%;
        padding: 2px 1%;
        position: relative; }
        body .page .middle-menu .slide-line #slider-pointer {
          height: 6px;
          width: 20%;
          background: #57C5A0;
          position: absolute; }
        body .page .middle-menu .slide-line .sl {
          height: 6px;
          width: 0.1%;
          background: #2E2E2E;
          margin-left: 20%; }
        body .page .middle-menu .slide-line #sl-1 {
          float: left;
          margin-left: 21%; }
        body .page .middle-menu .slide-line #sl-2 {
          float: left; }
        body .page .middle-menu .slide-line #sl-3 {
          float: left; }
        body .page .middle-menu .slide-line #sl-4 {
          float: left; }
      body .page .middle-menu ul {
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 23px; }
        body .page .middle-menu ul li {
          width: 19.5%;
          list-style-type: none;
          display: inline-block; }
          body .page .middle-menu ul li h4 {
            margin: 0;
            font-size: 14px; }
          body .page .middle-menu ul li p {
            font-size: 10px;
            margin: 0; }
        body .page .middle-menu ul li:first-child {
          color: white; }
    body .page footer {
      height: 200px;
      background: #c1c1c1;
      z-index: 1; }

/*# sourceMappingURL=style.css.map */
